$border-color: rgba(255, 255, 255, 0.2);

.main {
	display: grid;
	grid-template:
	'image' auto
	'title' 1fr
	'channel' auto;
	flex: 1 0;
	// flex-grow: 1;
	// max-width: calc(20% - var(--cards-gap));
	max-height: 40vh;
	max-width: calc(50vw - var(--cards-gap));
	min-width: 15vw;
	overflow: hidden;

	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 255, 255, 0.1);

	& > * {
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		padding: 10px;
	}
	& > *:last-child {
		border-bottom: 1px solid $border-color;
	}
}

.image {
	grid-area: image;
	border: none;
	padding: 0;
	aspect-ratio: 16/9;
}

.title {
	grid-area: title;
	overflow: hidden;
	text-overflow: ellipsis;
	min-height: 1.3rem * 4 - 0.55rem;
	line-height: 1.3rem;
}

.channel {
	font-size: 0.8rem;
	margin-top: auto;
	grid-area: channel;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	min-height: max-content;
}

.title, .channel {
	cursor: pointer;
	&:hover {
		color: rgba(255, 255, 255, 1);
	}
}
